# React Native
node_modules/
ios/Pods/
android/.gradle/
android/.idea/
*.iml

# Build artifacts
*.apk
*.keystore
*.xcworkspace
*.xcuserstate

# Logs & temp files
*.log
*.tmp
*.swp
.DS_Store

# Metro & cache
.expo/
.expo-shared/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*

# Xcode
*.xcodeproj/project.xcworkspace/
*.xcworkspace/xcshareddata/

# Others
package-lock.json
